* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eee;
}

.wrapper {
  display: flex;
  gap: 40px;
  padding: 30px;
}


.container {
  background: #ddd;
  padding: 10px;
  width: 400px;
}

.container div {
  background: #b5bcc6;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

/* LEFT LAYOUT */
.left .content {
  display: flex;
  gap: 10px;
}

.sidebar {
  flex: 1;
}

.body {
  flex: 3;
}

/* RIGHT LAYOUT */
.right .top {
  display: flex;
  gap: 10px;
}

.right .top .logo {
  flex:0;
}

.right .top .nav {
  flex: 2;
}

.boxes {
  display: flex;
  gap: 10px;
}

.box {
  flex: 1;
}

.footer {
  margin-top: 10px;
}